version: '3.8'

services:
  # Senin yazdığın Flask Uygulaması
  frontend:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - .:/app  # Kodda değişiklik yaparsan anında yansıması için (Hot Reload benzeri)
      - ./pb_data:/pb_data # DB'ye direkt erişim için
    env_file:
      - .env
    depends_on:
      - backend

  # PocketBase Servisi
  backend:
    image: ghcr.io/muchobien/pocketbase:latest # Hazır PocketBase imajı
    ports:
      - "8090:8090"
    volumes:
      - ./pb_data:/pb_data # Veriler kaybolmasın diye klasörü dışarı aktar
    env_file:
      - .env
